<li>
  <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
    <i class="fs-4 bi-card-text"></i>
    <span class="ms-1 d-none d-sm-inline fs-5">會員訂單管理</span>
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
    <li class="sidesubnav w-100">
      <a href="@Url.Action("Init" , "Order" , new {area = "User",id="unclosed"})" class="nav-link">
        <i class="fs-4 bi-search" title="未結訂單管理"></i>
        <span class="d-none d-sm-inline">未結訂單管理</span>
      </a>
    </li>
    <li class="sidesubnav w-100">
      <a href="@Url.Action("Init" , "Order" , new {area = "User",id="closed"})" class="nav-link">
        <i class="fs-4 bi-printer" title="歷史訂單查詢"></i>
        <span class="d-none d-sm-inline">歷史訂單查詢</span>
      </a>
    </li>
  </ul>
</li>
<li>
  <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
    <i class="bi bi-book-fill"></i>
    <span class="ms-2 d-none d-sm-inline fs-5">會員資料管理</span>
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
    <li class="sidesubnav w-100">
      <a href="@Url.Action("Init" , "Member" , new {area = "User"})" class="nav-link">
        <i class="fs-4 bi-pencil-square" title="會員資料維護"></i>
        <span class="d-none d-sm-inline">會員資料維護</span>
      </a>
    </li>
  </ul>
</li>
<li>
  <a href="#submenu3" data-bs-toggle="collapse" class="nav-link text-white px-0 align-middle">
    <i class="fs-4 bi-grid"></i>
    <span class="ms-1 d-none d-sm-inline fs-5">商品資料管理</span>
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
    <li class="sidesubnav w-100">
      <a href="@Url.Action("Init" , "Product" , new {area = "User"})" class="nav-link">
        <i class="fs-4 bi-pencil-square" title="商品上架設定"></i>
        <span class="d-none d-sm-inline">商品上架設定</span>
      </a>
    </li>
    <li class="sidesubnav w-100">
      <a href="@Url.Action("Init" , "Brand" , new {area = "User"})" class="nav-link">
        <i class="fs-4 bi-pencil-square" title="商品廠牌維護"></i>
        <span class="d-none d-sm-inline">商品廠牌維護</span>
      </a>
    </li>
    <li class="sidesubnav w-100">
      <a href="@Url.Action("Init" , "Category" , new {area = "User"})" class="nav-link">
        <i class="fs-4 bi-pencil-square" title="商品分類維護"></i>
        <span class="d-none d-sm-inline">商品分類維護</span>
      </a>
    </li>
    <li class="sidesubnav w-100">
      <a href="@Url.Action("Init" , "Property" , new {area = "User"})" class="nav-link">
        <i class="fs-4 bi-printer" title="商品屬性維護"></i>
        <span class="d-none d-sm-inline">商品屬性維護</span>
      </a>
    </li>
    <li class="sidesubnav w-100">
      <a href="@Url.Action("Init" , "Promotion" , new {area = "User"})" class="nav-link">
        <i class="fs-4 bi-printer" title="促銷商品維護"></i>
        <span class="d-none d-sm-inline">促銷商品維護</span>
      </a>
    </li>
  </ul>
</li>
<li>
  <a href="#submenu4" data-bs-toggle="collapse" class="nav-link text-white px-0 align-middle">
    <i class="fs-4 bi-grid"></i>
    <span class="ms-1 d-none d-sm-inline fs-5">公司資料管理</span>
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
    <li class="sidesubnav w-100">
      <a href="@Url.Action("Init" , "Company" , new {area = "User"})" class="nav-link">
        <i class="fs-4 bi-pencil-square" title="公司資料設定"></i>
        <span class="d-none d-sm-inline">公司資料設定</span>
      </a>
    </li>
    <li class="sidesubnav w-100">
      <a href="@Url.Action("Init" , "Department" , new {area = "User"})" class="nav-link">
        <i class="fs-4 bi-pencil-square" title="部門資料維護"></i>
        <span class="d-none d-sm-inline">部門資料維護</span>
      </a>
    </li>
    <li class="sidesubnav w-100">
      <a href="@Url.Action("Init" , "Title" , new {area = "User"})" class="nav-link">
        <i class="fs-4 bi-pencil-square" title="職稱資料維護"></i>
        <span class="d-none d-sm-inline">職稱資料維護</span>
      </a>
    </li>
    <li class="sidesubnav w-100">
      <a href="@Url.Action("Init" , "City" , new {area = "User"})" class="nav-link">
        <i class="fs-4 bi-printer" title="縣市資料維護"></i>
        <span class="d-none d-sm-inline">縣市資料維護</span>
      </a>
    </li>
    <li class="sidesubnav w-100">
      <a href="@Url.Action("Init" , "CityArea" , new {area = "User"})" class="nav-link">
        <i class="fs-4 bi-printer" title="行政區域維護"></i>
        <span class="d-none d-sm-inline">行政區域維護</span>
      </a>
    </li>
    <li class="sidesubnav w-100">
      <a href="@Url.Action("Init" , "Return" , new {area = "User"})" class="nav-link">
        <i class="fs-4 bi-printer" title="退貨政策設定"></i>
        <span class="d-none d-sm-inline">退貨政策設定</span>
      </a>
    </li>
  </ul>
</li>
