@model shopping.Models.Products

@{
  ViewData["Title"] = "Detail";
  Layout = "_Layout";
  int int_index = 0;
  string str_active = "active";
  string str_name = "";
  using var prodProperty = new z_sqlProductPropertys();
  using var shopService = new ShopService();
  List<string> ImageList = shopService.GetProductImageList(Model.ProdNo);
  List<ProductPropertys> PropertyList = prodProperty.GetProductPropertys(Model.ProdNo);
}


<main class="wrapper sigle-product" id="container">
  <section id="product_details">
    <!--single-protfolio-area are start-->
    <div class="single-protfolio-area ptb-70">
      <div class="row probox" style="margin: 0 auto">
        <!-- 左上方圖片區 -->
        <div class="col-lg-7 col-sm-12">
          <div class="portfolio-thumbnil-area">
            <div class="product-more-views">
              <div class="tab_thumbnail" data-tabs="tabs">
                <div class="thumbnail-carousel">
                  <ul class="nav">
                    @{
                      str_active = "active";
                      int_index = 0;
                      for (int i = 0; i < ImageList.Count; i++)
                      {
                        if (i > 0) str_active = "";
                        int_index++;
                        str_name = $"view{int_index}{int_index}";

                        <li>
                          <a class="@str_active" href="#@str_name" class="shadow-box" aria-controls="@str_name"
                            data-bs-toggle="tab">
                            <img src="@Url.Content(ImageList[i])" alt="" />
                          </a>
                        </li>
                      }
                    }
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-content active-portfolio-area pos-rltv">
              @{
                str_active = "active";
                int_index = 0;
                for (int i = 0; i < ImageList.Count; i++)
                {
                  if (i > 0) str_active = "";
                  int_index++;
                  str_name = $"view{int_index}{int_index}";

                  <div role="tabpanel" class="tab-pane @str_active" id="@str_name">
                    <div class="product-img">
                      <a class="fancybox" data-fancybox-group="group" href="@Url.Content(ImageList[i])">
                        <img src="@Url.Content(ImageList[i])" alt="Single portfolio" />
                      </a>
                    </div>
                  </div>
                }
              }
            </div>
          </div>
        </div>
        <!-- 右上方文字區 -->
        <div class="col-lg-5 col-sm-12">
          <div class="single-product-description">
            <div class="sp-top-des">
              <h3>@Model.ProdName</h3>
              <div class="prodcut-ratting-price">
                <div class="prodcut-price">
                  @if (@Model.DiscountPrice > 0 && Model.DiscountPrice < Model.SalePrice)
                  {
                    <div class="new-price">$@Model.DiscountPrice</div>
                    <div class="old-price"><del>$@Model.SalePrice</del></div>
                  }
                  else
                  {
                    <div class="new-price">$@Model.SalePrice</div>
                  }
                </div>
              </div>
            </div>
            <div class="sp-des">
              <p>
                @Model.SpecificationText
              </p>
            </div>
            <div class="bt">
              <div class="sp-bottom-des">
                @foreach (var item in PropertyList)
                {
                  <label class="font-bold">@item.PropertyName ： @item.PropertyValue</label>
                  <br />
                }
                <label>
                  <span class="font-bold">商品狀況</span>：良好 &ensp;
                  <button class="dd" data-bs-toggle="tooltip" data-bs-html="true"
                    title="<div class='ss'>★ <b>全新</b>：未使用過，可能含原包裝袋或標籤<br><br> ★ <b>良好</b>：8~9成新，使用過1~2次，保存良好<br><br> ★ <b>輕度使用</b>：6~7成新，有輕微使用痕跡或瑕疵<br><br> ★ <b>尚可</b>：5成新(含)以下，有明顯使用痕跡或瑕疵</div>">
                    <i class="fa-sharp fa-solid fa-circle-question color-lightgrey"></i>
                  </button>
                </label>
              </div>
              <div class="quantity-area">
                <label class="font-bold">數量：</label>
                <div class="cart-quantity">
                  <form action="#" method="POST" id="myform">
                    <div class="product-qty">
                      <div class="cart-quantity">
                        <div class="cart-plus-minus">
                          <div class="dec qtybutton">-</div>
                          <input type="text" value="1" name="qtybutton" class="cart-plus-minus-box" />
                          <div class="inc qtybutton">+</div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- 加入購物車/立即結帳 btn -->
              <div class="social-icon socile-icon-style-1">
                <ul>
                  <li>
                    <a href="ShoppingCart.html" data-tooltip="加入購物車" class="add-cart add-cart-text btnmy"
                      data-placement="left" tabindex="0">加入購物車<i class="fa fa-cart-plus"></i></a>
                  </li>
                  <li>
                    <a href="Payment.html" data-tooltip="立即結帳" class="add-cart add-cart-text btnmy"
                      data-placement="left" tabindex="0">立即結帳</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--single-protfolio-area are start-->

    <!--descripton-area start -->
    <div class="descripton-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="product-area tab-cars-style">
              <div class="title-tab-product-category row">
                <div class="col-lg-12 text-center">
                  <ul class="nav mb-40 heading-style-2" role="tablist">
                    <li role="presentation">
                      <a class="active" href="#newarrival" aria-controls="newarrival" role="tab"
                        data-bs-toggle="tab">商品描述 Description</a>
                    </li>
                    <li role="presentation">
                      <a href="#specialoffer" aria-controls="specialoffer" role="tab" data-bs-toggle="tab">相關標籤 Tags</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12">
                <div class="content-tab-product-category">
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show fix active" id="newarrival">
                      @Html.Raw(Model.ContentText)
                    </div>

                    <div role="tabpanel" class="tab-pane fade in fix" id="specialoffer">
                      <ul class="tag-filter d-flex flex-wrap">
                        <li><a href="#">時尚</a></li>
                        <li><a href="#">男裝</a></li>
                        <li><a href="#">春季</a></li>
                        <li><a href="#">街頭風</a></li>
                        <li><a href="#">風格</a></li>
                        <li><a href="#">T-Shirt</a></li>
                        <li><a href="#">精品</a></li>
                        <li><a href="#">2023 新款</a></li>
                        <li><a href="#">二手衣</a></li>
                        <li><a href="#">潮流</a></li>
                        <li><a href="#">休閒</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--descripton-area end-->

    <!--new arrival area start-->
    <div class="new-arrival-area">
      <div class="container relpro">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="heading-title heading-style pos-rltv mb-50 text-center">
              <h5 class="uppercase">相關商品</h5>
            </div>
            <div class="total-new-arrival new-arrival-slider-active carsoule-btn">
              <div class="product-item">
                <!-- single product start-->
                <div class="single-product">
                  <div class="product-img">
                    <div class="product-label">
                      <div class="new">New</div>
                    </div>
                    <div class="single-prodcut-img product-overlay pos-rltv">
                      <a href="single-product.html">
                        <img alt="" src="images/product_details/product/01.jpg" class="primary-image" />
                        <img alt="" src="images/product_details/product/02.jpg" class="secondary-image" />
                      </a>
                    </div>
                    <div class="product-icon socile-icon-tooltip text-center">
                      <ul>
                        <li>
                          <a href="ShoppingCart.html" data-tooltip="加入購物車" class="add-cart" data-placement="left"><i
                              class="fa fa-cart-plus"></i></a>
                        </li>
                        <li>
                          <a href="#" data-tooltip="快速檢視" class="q-view" data-bs-toggle="modal"
                            data-bs-target=".modal"><i class="fa fa-eye"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product-text">
                    <div class="prodcut-name">
                      <a href="single-product.html">快乾棉V領T恤</a>
                    </div>
                    <div class="prodcut-ratting-price">
                      <div class="prodcut-price">
                        <div class="new-price">$220</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- single product end-->
              </div>
              <div class="product-item">
                <!-- single product start-->
                <div class="single-product">
                  <div class="product-img">
                    <div class="single-prodcut-img product-overlay pos-rltv">
                      <a href="single-product.html"><img alt="" src="images/product_details/product/03.jpg"
                          class="primary-image" /><img alt="" src="images/product_details/product/04.jpg"
                          class="secondary-image" /></a>
                    </div>
                    <div class="product-icon socile-icon-tooltip text-center">
                      <ul>
                        <li>
                          <a href="ShoppingCart.html" data-tooltip="加入購物車" class="add-cart" data-placement="left"><i
                              class="fa fa-cart-plus"></i></a>
                        </li>
                        <li>
                          <a href="#" data-tooltip="快速檢視" class="q-view" data-bs-toggle="modal"
                            data-bs-target=".modal"><i class="fa fa-eye"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product-text">
                    <div class="prodcut-name">
                      <a href="single-product.html">快乾棉V領T恤</a>
                    </div>
                    <div class="prodcut-ratting-price">
                      <div class="prodcut-price">
                        <div class="new-price">$220</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- single product end-->
              </div>
              <div class="product-item">
                <!-- single product start-->
                <div class="single-product">
                  <div class="product-img">
                    <div class="product-label">
                      <div class="new">Sale</div>
                    </div>
                    <div class="single-prodcut-img product-overlay pos-rltv">
                      <a href="single-product.html">
                        <img alt="" src="images/product_details/product/02.jpg" class="primary-image" />
                        <img alt="" src="images/product_details/product/03.jpg" class="secondary-image" />
                      </a>
                    </div>
                    <div class="product-icon socile-icon-tooltip text-center">
                      <ul>
                        <li>
                          <a href="ShoppingCart.html" data-tooltip="加入購物車" class="add-cart" data-placement="left"><i
                              class="fa fa-cart-plus"></i></a>
                        </li>
                        <li>
                          <a href="#" data-tooltip="快速檢視" class="q-view" data-bs-toggle="modal"
                            data-bs-target=".modal"><i class="fa fa-eye"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product-text">
                    <div class="prodcut-name">
                      <a href="single-product.html">快乾棉V領T恤</a>
                    </div>
                    <div class="prodcut-ratting-price">
                      <div class="prodcut-price">
                        <div class="new-price">$220</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- single product end-->
              </div>
              <div class="product-item">
                <!-- single product start-->
                <div class="single-product">
                  <div class="product-img">
                    <div class="single-prodcut-img product-overlay pos-rltv">
                      <a href="single-product.html">
                        <img alt="" src="images/product_details/product/04.jpg" class="primary-image" />
                        <img alt="" src="images/product_details/product/03.jpg" class="secondary-image" />
                      </a>
                    </div>
                    <div class="product-icon socile-icon-tooltip text-center">
                      <ul>
                        <li>
                          <a href="ShoppingCart.html" data-tooltip="加入購物車" class="add-cart" data-placement="left"><i
                              class="fa fa-cart-plus"></i></a>
                        </li>
                        <li>
                          <a href="#" data-tooltip="快速檢視" class="q-view" data-bs-toggle="modal"
                            data-bs-target=".modal"><i class="fa fa-eye"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product-text">
                    <div class="prodcut-name">
                      <a href="single-product.html">快乾棉V領T恤</a>
                    </div>
                    <div class="prodcut-ratting-price">
                      <div class="prodcut-price">
                        <div class="new-price">$220</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- single product end-->
              </div>
              <div class="product-item">
                <!-- single product start-->
                <div class="single-product">
                  <div class="product-img">
                    <div class="single-prodcut-img product-overlay pos-rltv">
                      <a href="single-product.html">
                        <img alt="" src="images/product_details/product/05.jpg" class="primary-image" />
                        <img alt="" src="images/product_details/product/06.jpg" class="secondary-image" />
                      </a>
                    </div>
                    <div class="product-icon socile-icon-tooltip text-center">
                      <ul>
                        <li>
                          <a href="ShoppingCart.html" data-tooltip="加入購物車" class="add-cart" data-placement="left"><i
                              class="fa fa-cart-plus"></i></a>
                        </li>
                        <li>
                          <a href="#" data-tooltip="快速檢視" class="q-view" data-bs-toggle="modal"
                            data-bs-target=".modal"><i class="fa fa-eye"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product-text">
                    <div class="prodcut-name">
                      <a href="single-product.html">快乾棉V領T恤</a>
                    </div>
                    <div class="prodcut-ratting-price">
                      <div class="prodcut-price">
                        <div class="new-price">$220</div>
                        <div class="old-price"><del>$250</del></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- single product end-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--new arrival area end-->
    <!-- QUICKVIEW PRODUCT -->
    <div id="quickview-wrapper">
      <!-- Modal -->
      <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="modal-product">
                <div class="product-images">
                  <!--modal tab start-->
                  <div class="portfolio-thumbnil-area-2">
                    <div class="tab-content active-portfolio-area-2">
                      <div role="tabpanel" class="tab-pane active" id="view1">
                        <div class="product-img">
                          <a href="#"><img src="images/product_details/product/01.jpg" alt="Single portfolio" /></a>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="view2">
                        <div class="product-img">
                          <a href="#"><img src="images/product_details/product/02.jpg" alt="Single portfolio" /></a>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="view3">
                        <div class="product-img">
                          <a href="#"><img src="images/product_details/product/03.jpg" alt="Single portfolio" /></a>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="view4">
                        <div class="product-img">
                          <a href="#"><img src="images/product_details/product/04.jpg" alt="Single portfolio" /></a>
                        </div>
                      </div>
                    </div>
                    <div class="product-more-views-2">
                      <div class="thumbnail-carousel-modal-2 nav" data-tabs="tabs">
                        <li class="nav-item" role="presentation">
                          <a class="nav-link active" id="view1" data-bs-toggle="tab" href="#view1" role="tab"
                            aria-controls="view1" aria-selected="true">
                            <img src="images/product_details/product/01.jpg" alt="" />
                          </a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a class="nav-link" id="view2" data-bs-toggle="tab" href="#view2" role="tab"
                            aria-controls="view2" aria-selected="true">
                            <img src="images/product_details/product/02.jpg" alt="" />
                          </a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a class="nav-link" id="view3" data-bs-toggle="tab" href="#view3" role="tab"
                            aria-controls="view3" aria-selected="true">
                            <img src="images/product_details/product/03.jpg" alt="" />
                          </a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a class="nav-link" id="view4" data-bs-toggle="tab" href="#view4" role="tab"
                            aria-controls="view4" aria-selected="true">
                            <img src="images/product_details/product/04.jpg" alt="" />
                          </a>
                        </li>
                      </div>
                    </div>
                  </div>
                </div>
                <!--modal tab end-->
                <!-- .product-images -->
                <div class="product-info">
                  <h1>快乾棉V領T恤</h1>
                  <div class="price-box-3">
                    <div class="s-price-box">
                      <span class="new-price">$160.00</span>
                      <span class="old-price">$190.00</span>
                    </div>
                  </div>
                  <!-- <a href="shop.html" class="see-all">See all features</a> -->
                  <div class="quick-add-to-cart">
                    <form method="post" class="cart">
                      <div class="numbers-row">
                        <input type="number" id="french-hens" value="3" min="1" />
                      </div>
                      <button class="single_add_to_cart_button" type="submit">
                        加入購物車
                      </button>
                    </form>
                  </div>
                  <div class="quick-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam fringilla augue nec est tristique auctor. Donec non
                    est at libero.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Nam fringilla augue nec est tristique
                    auctor. Donec non est at libero.Nam fringilla tristique
                    auctor.
                  </div>
                </div>
                <!-- .product-info -->
              </div>
              <!-- .modal-product -->
            </div>
            <!-- .modal-body -->
          </div>
          <!-- .modal-content -->
        </div>
        <!-- .modal-dialog -->
      </div>
      <!-- END Modal -->
    </div>
    <!-- END QUICKVIEW PRODUCT -->
  </section>
</main>
<div class="col-lg-5 col-sm-12">
  <!-- 此部分保持不變 -->
</div>
</div>
</div>
<!--single-protfolio-area are start-->

<!-- 其餘部分省略 -->

</section>
</main>

@section Styles
{
  <!-- 依需要引用不同樣式表 -->
  <link rel="stylesheet" href="@Url.Content("~/lib/RewearFrontend/css/product-details.css")" />
}