@model vmOrders
@{
  ViewData["Title"] = "payment";
  Layout = "_Layout";
}

<!-- 內容 -->
<main id="container">
  <div class="row wrapper">
    <div class="col-lg-12">
      <div id="checkout">
        <div class="checkout-area">
          @using (Html.BeginForm())
          {
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="billing-details">
                      <div class="contact-text right-side">
                        <h2>付款資訊</h2>
                        <div class="row">
                          <div class="col-lg-12 col-md-12">
                            <div class="input-box mb-20">
                              <label>付款人姓名 <em>*</em></label>
                              <input type="text" name="MemberName" id="MemberName" class="info" placeholder="付款人姓名" value="@Model.MemberName" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-box mb-20">
                              <label>電子信箱<em>*</em></label>
                              <input type="email" name="MemberEmail" id="MemberEmail" class="info" placeholder="電子信箱" value="@Model.MemberEmail"/>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-box mb-20">
                              <label>連絡電話<em>*</em></label>
                              <input type="text" name="MemberTel" id="MemberTel" class="info" placeholder="連絡電話" value="@Model.MemberTel"/>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="input-box mb-20">
                              <label>聯絡地址<em>*</em></label>
                              <input type="text" name="MemberAddress" id="MemberAddress" class="info mb-10" placeholder="聯絡地址" value="@Model.MemberAddress"/>
                            </div>
                          </div>
                          <div style="margin: 20px 0">
                            <hr style="border: 0px solid #000; margin: 20px 0" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="billing-details">
                      <div class="right-side">
                        <div class="ship-acc clearfix pb20">
                          <div class="ship-toggle">
                            <input type="checkbox" id="ship-toggle" checked />
                            <label for="ship-toggle">收件人資料與購買人資料不同</label>
                          </div>
                          <div class="ship-acc-body">

                            <div class="row">
                              <div class="col-lg-12 col-md-12">
                                <div class="input-box mb-20">
                                  <label>收件人姓名</label>
                                  <input type="text" name="ReceiveName" id="ReceiveName" class="info" placeholder="收件人姓名" />
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <div class="input-box mb-20">
                                  <label>電子信箱<em>*</em></label>
                                  <input type="email" name="ReceiveEmail" id="ReceiveEmail" class="info" placeholder="電子信箱" />
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <div class="input-box mb-20">
                                  <label>連絡電話<em>*</em></label>
                                  <input type="text" name="ReceiveTel" id="ReceiveTel" class="info" placeholder="連絡電話" />
                                </div>
                              </div>
                              <div class="col-lg-12 col-md-12">
                                <div class="input-box mb-20">
                                  <label>聯絡地址<em>*</em></label>
                                  <input type="text" name="ReceiveAddress" id="ReceiveAddress" class="info mb-10" placeholder="聯絡地址" />
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="form">
                          <div class="input-box">
                            <label>備註:</label>
                            <textarea class="area-tex" name="Remark"></textarea>
                          </div>
                        </div>
                        <div class="col-lg-12 d-flex justify-content-around my-5 text-center">
                          <div class="col-lg-5 col-md-5 col-sm-5">
                            <a class="btn-def btn2" href="@Url.Action("Indx","Cart",new{area=""})" style="display: block">返回購物車</a>
                          </div>
                          <div class="col-lg-5 col-md-5 col-sm-5">
                            <input type="submit" value="確認結帳資訊" class="btn-def btn2 btnmy"style="display: block">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</main>
@section Styles {
  <link rel="stylesheet" href="@Url.Content("~/lib/RewearFrontend/css/cart-payment.css")" />

}
